<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pl-PL"><html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Add Subject</title>
</head>
<body>
<div class="col-lg-3">
    <nav style="width:50%" class="navbar navbar-inverse" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="klasy" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Klasy
                </a>
                <div class="dropdown-menu" aria-labelledby="klasy">
                    <ul>
                        <li><a class="dropdown-item" href="/showAllClasses">Pokaż wszystkie</a></li>
                        <li><a class="dropdown-item" href="/addClassBind">Dodaj klasę</a></li>
                    </ul>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="studenci" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Studenci
                </a>
                <div class="dropdown-menu" aria-labelledby="studenci">
                    <ul>
                        <li><a class="dropdown-item" href="/showAllStudents">Pokaż wszystkich</a></li>
                        <li><a class="dropdown-item" href="/addStudentBind">Dodaj studenta</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="przedmioty" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Przedmioty
                </a>
                <div class="dropdown-menu" aria-labelledby="przedmioty">
                    <ul>
                        <li><a class="dropdown-item" href="/showAllSubjects">Pokaż wszystkie</a></li>
                        <li><a class="dropdown-item" href="/addSubjectBind">Dodaj przedmiot</a></li>
                    </ul>
                </div>
            </li>

        </ul>
    </nav>
</div>
<div class="container col-lg-9">
    <form style="width:25" action="/addSubjectBind" method="POST" th:object="${subject}">
        <div class="form-group">
            <input type="hidden" class="form-control" th:field="*{id}">
        </div>
        <div class="form-group">
            <label for="przedmiot">Dodaj nowy przedmiot</label>
            <input type="text" class="form-control" id="przedmiot" placeholder="Przedmiot" th:field="*{name}">
        </div>
        <button type="submit" class="btn btn-primary">Wyślij</button>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>